header {
    height: 100px;
    background-color: #a0346e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
}

header .imgLogo {
    position: absolute;
    left: 20px;
}

header h1 {
    margin: 0 auto;
    color: white;
    font-size: 40px;
    text-align: center;
}

footer{
    height: 60px;
    background-color: none;
    text-align: center;
    gap: 0px;
}

footer h6{
    color: black;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7ddd0;
}

.imgLogo {
    height: 80px;
    width: 90px;
}

.layout{
    display: grid;
    grid-template-columns: 80px 1fr 200px;

    padding: 20px 30px;
    gap: 24px;

    justify-items: center;
}

.sidebar {
    height: fit-content;
    background: #bdbdbd;
    position: sticky;
    padding: 5px;
    /* Borders */
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-bottom: solid 5px grey;
    border-right: solid 5px grey;
}

.sidebar button{
    background: #bdbdbd;
    padding: 10px;

    margin: 5px;

    /* Borders */
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-bottom: solid 5px grey;
    border-right: solid 5px grey;

    justify-content: center;
    text-align: center;
}

.sidebar img{
    height: 25px;
    width: 25px;
}

.sidebar h2{
    text-align: center;
    top: 0;
    
    padding: 10px;
    margin: 0;
    border-bottom: dashed 2px black;
}

.bestScores{
    height: 100vh;
}

.gameBoard{
    background: #bdbdbd;
    width: fit-content;

    /* Borders */
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-bottom: solid 5px grey;
    border-right: solid 5px grey;

    display: flex;
    flex-direction: column;

    padding: 20px;
    gap: 10px;
}

.gameInfo{
    display: flex;
    justify-content: space-between;

    padding: 8px;

    /* Borders */
    border-top: solid 5px grey;
    border-left: solid 5px grey;
    border-bottom: solid 5px white;
    border-right: solid 5px white;
}

.resetButton{
    background: transparent;

    width: 50px;
    height: 50px;
    padding: 5px;

    /* Borders */
    border-top: solid 3px white;
    border-left: solid 3px white;
    border-bottom: solid 3px grey;
    border-right: solid 3px grey;

    /* Image */
    background-image: url('../img/sidebar/carita.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.resetButton.is-gameover{
    /* Image */
    background-image: url('../img/sidebar/triste.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.resetButton.is-win{
    /* Image */
    background-image: url('../img/sidebar/ganar.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.gameInfo img{
    height: 30px;
    width: 30px;
}

#reset {
    cursor: pointer;
}

.sevenSegDisplay {
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    color: red;

    display: flex;
    text-align: center;
    align-items: center;

    background-color: black;
    
    padding: 0px 5px 0px 5px;
    margin: 0;
}

#game-container {
    height: 100%;
    padding-right: 10px;

    /* Borders */
    border-top: solid 5px grey;
    border-left: solid 5px grey;
    border-bottom: solid 5px white;
    border-right: solid 5px white;

    display: grid;
    grid-template-columns: repeat(15, 50px);
    grid-column-gap: 10px;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    background: #bdbdbd;

    /* Borders */
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-bottom: solid 5px grey;
    border-right: solid 5px grey;
    color: black;
}

    .cell.isRevealed {
        background: #e0e0e0;
        cursor: default;
        /* Borders */
        border-bottom: solid 5px white;
        border-right: solid 5px white;
        border-top: solid 5px grey;
        border-left: solid 5px grey;
        color: black;
    }

    .cell.flagged { 
        background-image: url('../img/sidebar/bandera.png'); 
        background-size: contain;
    }

    .cell.isMine{
        background-image: url('../img/sidebar/mina.png');
        background-size: contain;
    }